﻿<%@ Page Language="C#" Inherits="Final_Project_MariiaKorolenko.DeletePage" AutoEventWireup="true" CodeFile="DeletePage.aspx.cs" MasterPageFile="~/Site.master" %>

<asp:Content runat="server" ConetntPlaceHolderID="MainContent" ID="deletepage">



<div> I am deleting a page </