﻿<%@ Page Language="C#" Inherits="Final_Project_MariiaKorolenko.ListPages" AutoEventWireup="true" CodeFile="ListPages.aspx.cs" MasterPageFile="~/Site.master" %>


<asp:Content runat="server" ContentPlaceHolderID="container">

<asp:SqlDataSource runat="server" ID="pages_select" ConnectionString="<%$ ConnectionStrings:final_sql_con %>">
</asp:SqlDataSource> 

<asp:DataGrid runat="server" ID="pages_list"></asp:DataGrid>
<br>
 <asp:Button runat="server" Text="Add Page" OnClick="New_Page"/>
 
<div id="debug" runat="server"></div>
        
</asp:Content>



