﻿#header {
    text-decoration: none;
    margin: 0 auto;
    background-color: #333333;
    margin-bottom: 50px;
}

#nav {
    text-align: center;
    padding-right: 10px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

#nav li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
}

#nav a {
    color: #fff;
}

#nav a:hover {
    text-decoration: none;
    color: #007bff;
}

#ctl00_container_pages_list {
    width: 100%;
}

.footer {
    background-color: #333333;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 10px;
}