﻿<%@ Control Language="C#" Inherits="Final_Project_MariiaKorolenko.PagesControl" %>

<asp:SqlDataSource runat="server" ID="pages_list" ConnectionString="<%$ ConnectionStrings:final_sql_con %>">

</asp:SqlDataSource>

<ul runat="server" id="menucontainer">
</ul>

